nav{
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%, 0);
    top: 30px;
    left: 50%;
    width: 70vw;
    height: 10vh;
    border-radius: 50px;
    background-color: #3A668B;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: 150px;

}

nav ul li {
    padding: 0 50px 0 50px;
    font-size: 28px;
}

nav a {
    color: #060912;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav .logo {
    transform: translate(-50%, 0);
    margin: 0.3rem 0 0 120px;
    padding: 0;
    height: 80px;
    width: 80px;
}

nav .profile {
    transform: translate(-50%, 0);
    margin: 20px 20px 10px 0;
    padding: 0;
    height: 80px;
    width: 80px;
}nav .profile:hover{
    filter: drop-shadow(0 0 2em #4380b0);
}nav .profile.react:hover {
    filter: drop-shadow(0 0 2em #4380b0);
}


/* Logo */
.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #4380b0);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #4380b0);
}